@import "tailwindcss";

body {
  height: 100vh;
  background-color:#ededed;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --font-base: "Architects Daughter", BowlbyOneSC;
  --font-alt: "Open Sans", BowlbyOneSC;

  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: rgb(96, 87, 88);
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-slate-900: #10172a;
  --color-darkred: #701a1c;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", sans-serif;
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

/* architects-daughter-regular - latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("./fonts2/ArchitectsDaughter/architects-daughter-v17-latin-regular.eot")
      format("embedded-opentype"),
    url("./fonts2/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff2")
      format("woff2"),
    url("./fonts2/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff")
      format("woff"),
    url("./fonts2/ArchitectsDaughter/architects-daughter-v17-latin-regular.ttf")
      format("truetype"),
    url("./fonts2/ArchitectsDaughter/architects-daughter-v17-latin-regular.svg")
      format("svg");
}

/* BowlbyOneSC/-sc-regular - latin */
@font-face {
  font-family: "Bowlby One SC";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("./fonts2/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.eot")
      format("embedded-opentype"),
    url("./fonts2/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff2")
      format("woff2"),
    url("./fonts2/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff")
      format("woff"),
    url("./fonts2/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.ttf")
      format("truetype"),
    url("./fonts2/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.svg")
      format("svg");
}

.headingA {
  -webkit-text-stroke-width: 2.33px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Bowlby One SC";
}
.headingG {
  -webkit-text-stroke-width: 0.33px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Bowlby One SC";
}

.headingB {
  -webkit-text-stroke-width: 1.33px;
  -webkit-text-stroke-color: #ffcc00;
  font-family: "Architects Daughter";
}

.headingC {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
  font-family: "Architects Daughter";
}

.headingD {
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: #595959;
  font-family: "Architects Daughter";
  font-weight: extrabold;
}

.headingE {
  -webkit-text-stroke-width: 3.99px;
  -webkit-text-stroke-color: #595959;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}

.headingF {
  -webkit-text-stroke-width: 3.66px;
  -webkit-text-stroke-color: #fffffc;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}

.bg-wood {
  background-image: url("/Wood4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shape-lighthouse {
  shape-margin: 80px;
  float: left;
  shape-outside: url("/lighthouse3.png");
  shape-image-threshold: 0.6;
}

.portraitMick {
  shape-margin: 80px;
  shape-outside: url("/portraitmick.png");
  shape-image-threshold: 0.6;
}

.bg-wohin {
  background-image:
    linear-gradient(
      to bottom,
      rgba(25, 36, 45, 1),
      rgba(0, 0, 255, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/west-side-story.png");
  background-size: cover;
  background-repeat: no repeat;
}

.bg-hero {
  background-image:
    linear-gradient(
      to bottom,
      rgba(25, 36, 45, 1),
      rgba(0, 0, 255, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/lighthouse.webp");
  background-size: 100% 100%;
  background-repeat: no repeat;
  height: 10%;
  width: 100%;
}

@media (min-width: 890px) {
  .bg-hero {
    background-image:
      linear-gradient(
        to bottom,
        rgba(25, 36, 45, 1),
        rgba(0, 0, 255, 0),
        rgba(25, 36, 45, 1)
      ),
      url("/5566.svg");
  }
}

.bg-sportarena {
  background-image:
    linear-gradient(
      to bottom,
      rgba(26, 35, 46, 1),
      rgba(0, 0, 0, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/sportarenawc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}




